<div id="wrapper" class="home_panel"> 
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="">Welcome to Visualizations for Eventbrite</h3>
            <div class="panel-title">Visualize how different events overlap with each other in comparison with their Capacity, using Highcharts.</div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-12 col-lg-12">
                        <div class="col-md-6">
                            <div class="datepicker-container">
                                <div>
                                    Date Range <i class="fa fa-calendar mr10"></i><input readonly="readonly" type="text" name="daterange" value="" class="form-control report-daterange home_input" placeholder="Duration" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <div>
                                    Search Query <i class="fa fa-pencil mr10"></i><input type="text" name="search" class="form-control home_input" placeholder="Enter Query" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row get_started">
                <div class="form-group">
                    <button type="button" class="btn btn-primary button_proceed">Lets get started!</button>
                </div>
            </div>

        </div>
    </div>
</div>