<%= javascript_include_tag('visuals.js') %>
<div class="row visual_container" style="height:100%">
    <div class="col-md-3" style="height:100%">
        <nav class="navbar navbar-default" role="navigation" style="height:100%">
            <div class="navbar-header">
               <div class="navbar-brand">Filters</div>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse input_section">
                <ul class="nav navbar-nav">
                    <li>
                        <div class="datepicker-container m10">
                                <input readonly="readonly" type="text" name="daterange" value="" class="form-control report-daterange" placeholder="Duration" />
                        </div>
                    </li>
                    <li>
                        <div class="m10">
                            <input type="text" name="search" class="form-control" placeholder="Enter Query" />
                        </div>
                    </li>
                    <li>
                        <div class="m10 event_checkbox">
                        </div>
                    </li>
                    <li>
                        <div class="m10">
                            <button type="button" class="btn btn-block btn-primary button_refresh">Refresh</button>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="col-md-9" style="height:100%">
        <div class="main_container">
            <div class="loader hidden">
                <img src="<%= asset_path( 'loader.gif' ) %>" />
            </div>
            <div class="reports" style="height:100%; width:100%; ">
            </div>
        </div>
    </div>
</div>